*,*::before,*::after{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
main{
    display: flex;
    background-color: #dedede;
}
.sideBar{
    height: 0px;
    width: 0px;
    transition: all ease 0.5s;
    overflow-y: scroll;
}
.sideBar.active{
    width: 300px;
    height: 100%;
}
.hamMenu{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hamMenu.active .line:nth-child(1){
    transform: rotateZ(45deg) translateY(5px) translateX(5px);
    background-color: #001faa;
}
.hamMenu.active .line:nth-child(2){
    transform: translateX(50px);
    opacity: 0;
}
.hamMenu.active .line:nth-child(3){
    transform: rotateZ(-45deg) translateY(-6px) translateX(5.5px);
    background-color: #2d02ee;

}
.line{
    width: 100%;
    height: 4px;
    background-color: dimgrey;
    border-radius: 2rem;
    transition: all ease 0.2s;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family: regFira;
    src: url(assets/fonts/FiraCode-Bold.ttf)
}
.river{
    width: 100%;
    height: 150px;
    background: linear-gradient(to left,rgb(104, 202, 248),rgb(12, 144, 177),rgb(104, 202, 248));
    animation: wave 5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.leftSide , .rightSide{
    background-color: rgb(67, 212, 98);
    width: 100%;
    min-height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 2.7rem;

}
.leftSide img , .river img , .rightSide img{
    width: 60px;
}
.imgContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: regFira;
    color: dimgrey;
}
@keyframes wave {
    0%{
        background-position: 10px;
    }
    100%{
        background-position: 100vw;
    }
}
@media screen and (min-width:1350px){
    body{
        width: 1366px;
        margin: 0 auto;
    }
}

.sideBar div[class$='Radio']{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    font-family: regFira;
    border-bottom: 1px solid rgb(119, 119, 119);
}
input[type='radio']{
    margin:0 0.5rem;
}
.sideBar .head{
    text-align: center;
    width: 100%;
    font-family: regFira;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: dimgrey;
}
.subBtn{
    width: 8rem;
    height: 3.5rem;
    background-color: #001faa;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: snow;
    font-family: regFira;
    font-size: 1.2rem;
    margin:  1rem auto;
    cursor: pointer;
}